@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@font-face {
    font-family: "Rubik Glitch";
    src: url("../fonts/RubikGlitch-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
:root {
    --gen-font: "Rubik Glitch", serif;
    --gen-bg-color: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html,
body {
    max-width: 100%;
    overflow: hidden;
    font-family: var(--gen-font);
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--gen-bg-color);
    color: aliceblue;
}

h1 {
    font-size: 72px;
    letter-spacing: 0.1cap;
    font-weight: 400;
}

/* пример флип карты */
.flip-card {
    width: 400px;
    height: 400px;
    background-image: url("../images/flip_card.png");
    /* background-color: aliceblue; */
    background-position: center;
    background-size: 520px;
  }
  
.flip-card-inner {
    width: 60%;
    height: 60%;
    margin: 20%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner,
.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.paper {
    background: url("../images/paper.png");
}
.plastic {
    background: url("../images/plastic.png");
}
.stone {
    background: url("../images/stone.png");
}
.flip-card-back {
    letter-spacing: 2px;
    background: rgb(0, 0, 0);
    transform: rotateY(180deg);
}

/* Первый блок страницы */
.block {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.block h1 {
    margin-bottom: 5%;
}
.handdrawn-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 36px;
    background: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10%;
    padding: 10px 25px;
    gap: 10px;
    text-decoration: none;
    color: black;
    position: relative;
    filter: url(#roughEdges);
    transition: transform 0.5s ease;
}
.handdrawn-button:hover {
    transform: scale(1.1);
}
.handdrawn-button.shake, .greeting.shake {
    animation: shake 0.2s steps(10, end) 0s 1 normal both;
    color: rgb(66, 19, 19);
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-100px); }
    20% { transform: translateX(100px); }
    30% { transform: translateX(-70px); }
    40% { transform: translateX(50px); }
    50% { transform: translateX(-100px); }
    60% { transform: translateX(100px); }
    70% { transform: translateX(-70px); }
    80% { transform: translateX(100px); }
    90% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}

svg {
    width: 0;
    height: 0;
    position: relative;
}

/* Первый блок */
.fst {
    background-repeat: no-repeat;
    background-position: revert;
}
.fst img {
    position: absolute;
}
.fst div {
    display: flex;
    align-content: center;
    justify-content: center;
}
.fst :nth-child(3){
    width: 393px;
    height: 393px;
    left: 10px;
    top: -5px;
    rotate: 5deg;
}

.fst :nth-child(4){
    width: 79px;
    height: 79px;
    left: 85px;
    top: 66px;
}
.fst :nth-child(5){
    width: 135px;
    height: 135px;
    left: 20px;
    top: 210px;
    rotate: -15deg;
}
.fst h1 {
    position: relative;
    margin: 0% 0 3% 0;
    text-align: center;
}

/* Второй блок */
.sec {
    margin-top: 2%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url(../images/paper_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-div {
    height: 80%;
    width: 85%;
    background: url(../images/map.png);     
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sec-div h1{
    display: none;
}

.place_figure, .place_material {
    position: absolute;
    height: 125px;
    z-index: 10;
}
.place_figure{
    left: 62%;
    top: 25%;
}
.place_material{
    left: 50%;
    top: 52%;
}


/* Третий блок */
.thr {
    padding-top: 15%;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 10%;
    padding-bottom: 30%;
}
.thr h1 {
    position: relative;
}
.thr img {
    height: 300px;
}
.forms {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.forms img{   
    transition: transform 0.2s ease;
}

.forms img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.corner-border-element {
    position: relative;
    transition: all 0.3s ease;
}

.corner-border {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}
/* четвертый блок */
.four {
    margin-top: 5%;
    display: flex;
    align-content: center;
    background: url(../images/bg_choice.png);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    font-weight: 100px;
    
}
.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

/* Пузырьки на начальном экране */
.blister._1 {
    height: 150px;
    bottom: 10%;
    right: 5%;
}

.blister._2 {
    height: 70px;
    bottom: 14%;
    right: 12%;
}

.blister._3 {
    height: 200px;
    bottom: 7%;
    right: 12%;
}

.blister._4 {
    height: 130px;
    bottom: 17%;
    right: 18%;
}
/* Кнопка сохранить */
.save_button {
    z-index: 5;
    cursor: pointer;
    position: relative;
    padding: 7px 5px 7px 5px;
    border-radius: 10%;
    width: 130px;
    font-family: var(--gen-font);
    font-size: 32px;
    font-weight: 100;
    background-color: #D9D9D9;
    transition: transform 0.2s ease;
}
.save_button:active {
    background-color: #9e9e9e;
}
.save_button:hover {
    transform: scale(1.1);
}

@media (max-width: 1100px) {
    .map {
        display: none;
        visibility: hidden;
      }
    h1 {
      font-size: 46px;
    }
    .save_button {
        font-size: 28px;
    }
    .blister._1 {
        height: 100px;
        bottom: 10%;
        right: 5%;
    }
    
    .blister._2 {
        height: 40px;
        bottom: 14%;
        right: 12%;
    }
    
    .blister._3 {
        height: 150px;
        bottom: 7%;
        right: 6%;
    }
    
    .blister._4 {
        height: 80px;
        bottom: 17%;
        right: 14%;
    }
    .fst :nth-child(3){
        width: 313px;
        height: 313px;
    }
    
    .fst :nth-child(4){
        width: 39px;
        height: 39px;
    }
    .fst :nth-child(5){
        width: 95px;
        height: 95px;
    }
    .handdrawn-button {
        font-size: 28px;
        padding: 7px 20px;
    }
    .sec {
        margin-top: 2%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        align-content: center;
        background: none;
    }

    
    .sec-div {
        rotate: 90deg;
        height: 100%;
        width: 70%;
        background: url(../images/clear_map.png);     
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 30%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .sec-div h1{
        display: block;
        font-size: 56px;
        z-index: 5;
        rotate: -90deg;
    }
  }

  @media (max-width: 600px) {
    h1 {
        font-size: 32px;
      }
    .save_button {
        font-size: 24px;
    }

    .sec-div h1{
        font-size: 38px;
    }
    .flip-card {
        width: 300px;
        height: 300px;
        background-size: 410px;
      }
      
    .flip-card-inner {
        width: 70%;
        height: 70%;
        margin: 15%;
    }

    .fiv {
        margin-top: 300px;
    }
    .six{
        margin-top: 100px;
    }

  }

  /* Пятый  блок */
  .fiv {
    height: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center ;
    position: relative;
  }
  .fiv img {
    z-index: 2;
    height: 270px;
    width: auto;
    transition: all 0.2s ease;
  }

  .fiv .absolute {
    position: absolute;
    z-index: 1;
    height: 60%;
    rotate: 180deg;
    top: 23%;
    left: 16%;
  }
  .fiv h1 {
    z-index: 2;
  }
  .flex img:hover {
    transform: scale(1.1);
  }

  /* 6 блок */
  .six {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

.convert_button {
    z-index: 5;
    cursor: pointer;
    position: relative;
    padding: 7px 5px 7px 5px;
    border-radius: 15%;
    width: 330px;
    font-family: var(--gen-font);
    font-size: 32px;
    font-weight: 100;
    background-color: #D9D9D9;
    transition: transform 0.2s ease;
}
.convert_button:active {
    background-color: #9e9e9e;
}
.convert_button:hover {
    transform: scale(1.1);
}
.six img {
    height: 350px;
}
.load_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.loader {
    margin-top: 5%;
    width: 96px;
    height: 96px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: none;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
      content: '';  
    box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-bottom-color: #aeaeae;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
/* Ошибка */
  .error {
    font-size: 32px;
    margin-top: 5%;
    color: rgb(136, 20, 20);
    visibility: hidden;
  }

  footer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10%;
    font-size: 32px;
    text-align: center;
    font-weight: 100;
    color: #ffcfcf;
    letter-spacing: 2px;
  }

  @media (max-width: 540px) {
    .fiv {
        padding-top: 300px;
    }
    .six{
        padding-top: 300px;
    }
  }
  @media (max-width: 380px) {
    .fiv {
        padding-top: 500px;
    }
  }

  /* Скотч на карте */
  #tape_1, #tape_2 {
    position: absolute;
    height: 100px;
    rotate: -60deg;
  }
  #tape_1 {
    left: 3%;
    top: 10%;

  }

  #tape_2 {
    right: 3%;
    bottom: 10%;
    rotate: -50deg;
  }